{{ define "title" }}
{{ .Title }}
{{ end }}
{{ define "main" }}
<main>
  <a href="../"><- Atrás</a>
  <article>
    <header>
      <h1>{{ .Title }}</h1>
    </header>
    {{ .Content }}
  </article>
  <br>
  <div style="display: flex; justify-content: space-between; width: 100%;">
    {{ with .NextInSection }}
    <a href="{{ .Permalink }}"><p style="text-align:left"><- Anterior: {{ .Title }}</p></a>
    {{ end }}
    {{ with .PrevInSection }}
    <a href="{{ .Permalink }}"><p style="text-align:right">Siguiente: {{ .Title }} -></p></a>
    {{ end }}
  </div>
</main>
{{ end }}
