html {
    --global-font-size: 15px;
    --page-width: 60em;
    width: 90%;
    max-width: 800px;
    font-family: sans-serif;
    background: #121212;
    color: #ebdbb2;
    margin: auto;
    text-align: justify;
}

@media only screen and (max-width: 850px) {
    :root {
        --global-font-size: 14px;
        --global-line-height: 1.6em;
        --page-width: 70em;
    }
}

/* hide class for certain objects on a phone*/
@media (max-width: 850px) {
    .hide-phone {
        display: none;
    }
}

h2,h3,h4,h5,h6,strong {
    font-size:var(--global-font-size);
}

body,h1,h2,h3,h4,h5 {
    text-align: left;
}

h2,h3,h4,h5 {
    color: #b8bb26;
}

a:hover {
    opacity:0.8;
}

.navbar h2,h4,a {
    color: #fe8019;
    padding: 10px 5px 0px;
    text-align: center;
}

.image-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit,
        minmax(calc(var(--page-width) / 4), 1fr));
}

.container {
    margin: 0 auto;
    padding: 0 calc(var(--global-space));
    max-width: var(--page-width);
}

img {
    width: 100%;
}

.single {
    max-height: 80vh;
    max-width: 90vw;
    width: auto;
}
